# .gitignore file for Outside Insights app

# the build
Build
build
# DerivedData
Docs/API

# temp nibs and swap files
*~.nib
*.swp
*.orig

# OS X folder attributes
*.DS_Store
*.xcuserstate

# user-specific XCode stuff
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xccheckout
vendor/

test-reports/

# CocoaPods
xcschemes/

# Bundler binstubs
.bundle
bin

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Tests/Pods
vendor/
